*{
    padding: 0px;
    margin: 0px;
}
.person{
    background-color: rgb(230, 230, 230);
    flex-direction: column;
    border-radius: 5px;
    user-select: none;
    display: flex;
    padding: 10px;
    margin: 10px;
    
}
html, body, #root{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
}
.person > .title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 18px;
}
.person > .job{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.person:hover{
    opacity: 0.5;
}
.person:active{
    transform: translateY(2px);
}